* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header_pag {
    border: 0.1rem solid pink;
    display: flex;
}
.header_nav {
    list-style: none;
    
    
}
.header_nav_item {
    display: inline-block;
    align-items: flex-end;
}


.container {
    border: 0.1rem solid black;
    display: flex;
    background-color: antiquewhite;
   /*  flex-wrap: wrap */
}

.box {
    border: 0.2rem double rgb(221, 28, 28);
    width: 10rem;
    height: 10rem;
     /* flex-basis: 10rem; */
    /*  flex-grow: 1; */
     /*ayuda a que reposicionar para que se adopten los tamaños*/
 }
 .container_section {
    width: 70%;
    border: 0.2rem dashed grey;
 /*    justify-content: flex-end; */
 }
 .footer {
    border: 0.1rem solid rgb(20, 155, 49);
    flex-direction: row;
 }
